{
  "swagger": "2.0",
  "info": {
    "title": "Интеграция портала поставщиков v2",
    "description": "Интеграция портала поставщиков v2",
    "version": "v2"
  },
  "host": "api.zakupki.mos.ru",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/v2/aisUid/auction/SearchFinished": {
      "get": {
        "tags": [
          "aisUid"
        ],
        "summary": "Поиск завершенных КС по фильтру",
        "operationId": "aisUid-SearchFinished",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Auctions.Queries.V2.AisUid.SearchFinishedQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Auctions.Queries.V2.AisUid.SearchFinishedQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v2/aquireOrder/commands/ApplyOrderPayment": {
      "post": {
        "tags": [
          "aquireOrder"
        ],
        "summary": "Команда успешной оплаты заказа",
        "operationId": "aquireOrder-ApplyOrderPayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.AquireOrders.ApplyOrderPaymentCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/aquireOrder/commands/ApplyOrderRequest": {
      "post": {
        "tags": [
          "aquireOrder"
        ],
        "summary": "Подтверждение успешного формирования заказа",
        "operationId": "aquireOrder-ApplyOrderRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.AquireOrders.ApplyOrderRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/aquireOrder/commands/RejectOrderPayment": {
      "post": {
        "tags": [
          "aquireOrder"
        ],
        "summary": "Команда отказа от оплаты заказа / ошибки оплаты",
        "operationId": "aquireOrder-RejectOrderPayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.AquireOrders.RejectOrderPaymentCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/aquireOrder/externalCommands/SendAquireOrderRequest": {
      "post": {
        "tags": [
          "aquireOrder"
        ],
        "summary": "Запрос на регистрацию заказа",
        "operationId": "aquireOrder-SendAquireOrderRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.AquireOrders.External.SendAquireOrderRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/auction/commands/ChangeWinner": {
      "post": {
        "tags": [
          "auction"
        ],
        "summary": "КС: Смена победителя",
        "operationId": "auction-ChangeWinner",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Commands.V2.ChangeWinnerCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/auction/commands/CreateShared": {
      "post": {
        "tags": [
          "auction"
        ],
        "summary": "КС: Создание совместной закупки",
        "operationId": "auction-CreateShared",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Commands.V2.CreateSharedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/auction/public/ApproveAuctionSupplierStockRequest": {
      "post": {
        "tags": [
          "auction"
        ],
        "summary": "Подтверждение бронирования товарных позиций по КС",
        "operationId": "auction-ApproveAuctionSupplierStockRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Commands.V2.Public.ApproveAuctionSupplierStockRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/auction/public/RejectAuctionSupplierStockRequest": {
      "post": {
        "tags": [
          "auction"
        ],
        "summary": "Отклонение запроса на бронирование товарных позиций по КС",
        "operationId": "auction-RejectAuctionSupplierStockRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Commands.V2.Public.RejectAuctionSupplierStockRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/auction/queries/Bets": {
      "get": {
        "tags": [
          "auction"
        ],
        "summary": "Отдает ставки КС по Id КС",
        "operationId": "auction-Bets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Queries.V2.Auction.BetsQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Dto.V2.AuctionBetListDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/auction/queries/DownloadFile": {
      "get": {
        "tags": [
          "auction"
        ],
        "summary": "Загрузка файла КС",
        "operationId": "auction-DownloadFile",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Auctions.Queries.V2.DownloadFileQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2/auction/public/Get": {
      "get": {
        "tags": [
          "auction"
        ],
        "summary": "Получить данные КС",
        "operationId": "auction-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Auctions.Queries.V2.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Auctions.Queries.V2.Public.GetQueryDataDto"
            }
          }
        }
      }
    },
    "/api/v2/auction/public/Search": {
      "get": {
        "tags": [
          "auction"
        ],
        "summary": "Отдает список КС по фильтру",
        "operationId": "auction-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Auctions.Queries.V2.Public.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Auctions.Queries.V2.Public.SearchQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/commands/Apply": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Получение одобрения заявки на выдачу банковской гарантии",
        "operationId": "bankGuarantee-Apply",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.ApplyCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/commands/Issue": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Подтверждение банком выдачи оригинала банковской гарании клиенту",
        "operationId": "bankGuarantee-Issue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.IssueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/commands/Reject": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Получение отказа по заявке на выдачу банковской гарантии",
        "operationId": "bankGuarantee-Reject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.RejectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/commands/RevisionRequired": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Отправка на доработку заявки на выдачу банковской гарантии",
        "operationId": "bankGuarantee-RevisionRequired",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.RevisionRequiredCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/externalCommands/Cancel": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Отказ от заявки на выдачу банковской гарантии",
        "operationId": "bankGuarantee-Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.External.CancelCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/externalCommands/Request": {
      "post": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Заявка на выдачу банковской гарантии",
        "operationId": "bankGuarantee-Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.BankGuarantee.External.RequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/bankGuarantee/queries/DownloadFile": {
      "get": {
        "tags": [
          "bankGuarantee"
        ],
        "summary": "Загрузка файла банковской гарантии",
        "operationId": "bankGuarantee-DownloadFile",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Queries.V2.BankGuarantee.DownloadFileQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/commands/AddExternalIntegrationQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-AddExternalIntegrationQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.AddExternalIntegrationQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ChangeUpdStatus": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Отдает статус по id документа этапа контракта во внешней системе (УПД).",
        "operationId": "commands-ChangeUpdStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.ChangeUpdStatusCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CheckSendPackageToEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: проверка статуса отправки пакета файлов в ЕИС",
        "operationId": "commands-CheckSendPackageToEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.CheckSendPackageToEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CheckSendToDiadoc": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: проверка статуса отправки пакета файлов в Диадок",
        "operationId": "commands-CheckSendToDiadoc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.CheckSendToDiadocCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ContractConcludedAction": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Проект контракта (доп.соглашения) подписан заказчиком (Заключен)",
        "operationId": "commands-ContractConcludedAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.ContractConcludedActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ContractExecutionEisSignResult": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Обработка результа подписания в ЕИС",
        "operationId": "commands-ContractExecutionEisSignResult",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ContractExecutionEisSignResultCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ContractProjectAction": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Проект контракта от заказчика на подписание поставщику",
        "operationId": "commands-ContractProjectAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.ContractProjectActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ContractRejectConclusionAction": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Полный отказ от заключения контракта заказчиком",
        "operationId": "commands-ContractRejectConclusionAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.ContractRejectConclusionActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ContractSupplementaryAgreementProjectAction": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Проект доп.соглашения по заключенному контракту от заказчика на подписание поставщику",
        "operationId": "commands-ContractSupplementaryAgreementProjectAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.ContractSupplementaryAgreementProjectActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/ContractWithdrawAction": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Отзыв заказчиком проекта контракта (отказ от текущей версии контракта или доп.соглашения)",
        "operationId": "commands-ContractWithdrawAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.ContractWithdrawActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CreateLogisticsOrder": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Логистика: создание заказа на перевозку груза",
        "operationId": "commands-CreateLogisticsOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Logistics.Commands.CreateLogisticsOrderCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/DownloadDiadocPrintForm": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: загрузка печатной формы",
        "operationId": "commands-DownloadDiadocPrintForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.DownloadDiadocPrintFormCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/DownloadPacketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: скачать документы из ЛКП (ЕИС)",
        "operationId": "commands-DownloadPacketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.DownloadPacketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/FindAndQueueUnprocessedActualPacketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Поиск необработанных актуальных пакетов (УПД/УКД) из очереди ЛКП ЕИС",
        "operationId": "commands-FindAndQueueUnprocessedActualPacketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.FindAndQueueUnprocessedActualPacketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/FindAndQueueUnprocessedTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Поиск необработанных тикетов от заказчика из очереди ЛКП ЕИС",
        "operationId": "commands-FindAndQueueUnprocessedTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.FindAndQueueUnprocessedTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateDiadocFnsFile": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документ ФНС в диадок",
        "operationId": "commands-GenerateDiadocFnsFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.GenerateDiadocFnsFileCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateKalugaFnsFile": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сформировать документ ФНС в Калуге",
        "operationId": "commands-GenerateKalugaFnsFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Kaluga.GenerateKalugaFnsFileCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdCorrFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы исправительного УКД для ЕИС",
        "operationId": "commands-GenerateUkdCorrFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdCorrFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdCorrSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного исправительного УКД для ЕИС",
        "operationId": "commands-GenerateUkdCorrSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdCorrSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УКД для ЕИС",
        "operationId": "commands-GenerateUkdFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного УКД для ЕИС",
        "operationId": "commands-GenerateUkdSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdCorrFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы исправительного УПД для ЕИС",
        "operationId": "commands-GenerateUpdCorrFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdCorrFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdCorrSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного исправительного УПД для ЕИС",
        "operationId": "commands-GenerateUpdCorrSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdCorrSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdFilesForConstructionEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УПД по стройке для ЕИС",
        "operationId": "commands-GenerateUpdFilesForConstructionEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdFilesForConstructionEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УПД для ЕИС",
        "operationId": "commands-GenerateUpdFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdSameFilesForConstructionEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного Акта по стройке и отправить их в ЕИС (background)",
        "operationId": "commands-GenerateUpdSameFilesForConstructionEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.GenerateUpdSameFilesForConstructionEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного УПД для ЕИС",
        "operationId": "commands-GenerateUpdSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/OperationComplete": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-OperationComplete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.OperationCompleteCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/PeekTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Запрос тикета от заказчика из очереди ЛКП ЕИС",
        "operationId": "commands-PeekTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.PeekTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessActBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по актам стройки",
        "operationId": "commands-ProcessActBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessActBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessActSupplierTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета продавца по Акту стройки (ЕИС)",
        "operationId": "commands-ProcessActSupplierTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessActSupplierTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessAsurCompanyRequests": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Обработка новых заявок на регистрацию\\изменение (формирование запросов в АС УР)",
        "operationId": "commands-ProcessAsurCompanyRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.Asur.ProcessAsurCompanyRequestsCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessAsurResponseQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Опрос очереди АС УР на предмет ответов на запросы",
        "operationId": "commands-ProcessAsurResponseQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.Asur.ProcessAsurResponseQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessEisSignResult": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка результатов подписания поставщиком в ЕИС",
        "operationId": "commands-ProcessEisSignResult",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessEisSignResultCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessIntegrationQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-ProcessIntegrationQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.ProcessIntegrationQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessLogisticsOrderChanges": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Логистика: обработка изменений заказа, пришедших из внешней системы",
        "operationId": "commands-ProcessLogisticsOrderChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Logistics.Commands.ProcessLogisticsOrderChangesCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUkdBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по УКД (ЕИС)",
        "operationId": "commands-ProcessUkdBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessUkdBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по УПД (ЕИС)",
        "operationId": "commands-ProcessUpdBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessUpdBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdSupplierTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета продавца по УПД (ЕИС)",
        "operationId": "commands-ProcessUpdSupplierTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessUpdSupplierTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdUkdBuyerUvUtochFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка уведомления об уточнении покупателя УПД/УКД (ЕИС)",
        "operationId": "commands-ProcessUpdUkdBuyerUvUtochFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessUpdUkdBuyerUvUtochFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendChatMessageToEaist": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SendChatMessageToEaist",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Chat.Commands.SendChatMessageToEaistCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendExecutionFilesToKaluga": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документы по исполнению в Калугу",
        "operationId": "commands-SendExecutionFilesToKaluga",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Kaluga.SendExecutionFilesToKalugaCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendFnsFileToDiadoc": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документ ФНС в диадок",
        "operationId": "commands-SendFnsFileToDiadoc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.SendFnsFileToDiadocCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendPackageToEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить пакет файлов в ЕИС",
        "operationId": "commands-SendPackageToEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.SendPackageToEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SetUpdBuyerTicketFromEisToExecComand": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SetUpdBuyerTicketFromEisToExecComand",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Temporary.SetUpdBuyerTicketFromEisToExecComand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SetUpdUkdBuyerUvUtochFromEisToExecComand": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SetUpdUkdBuyerUvUtochFromEisToExecComand",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Temporary.SetUpdUkdBuyerUvUtochFromEisToExecComand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/SyncExecutionsWithEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Синхронизировать исполнения по контракту с ЕИС",
        "operationId": "commands-SyncExecutionsWithEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V2.SyncExecutionsWithEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SyncKnowledgeBaseArticlesInbound": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Команда синхронизации статей из базы знаний АИС УЗ в нашу систему.",
        "operationId": "commands-SyncKnowledgeBaseArticlesInbound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.KnowledgeBase.Commands.SyncKnowledgeBaseArticlesInboundCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SyncWithEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Синхронизировать исполнения по контракту с ЕИС",
        "operationId": "commands-SyncWithEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.SyncWithEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commands/UploadNeedProposalProtocol": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Загрузить на ПП протокол предложений поставщиков",
        "operationId": "commands-UploadNeedProposalProtocol",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Needs.UploadNeedProposalProtocolCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commercialOffer/commands/CreateCommercialOfferRequest": {
      "post": {
        "tags": [
          "commercialOffer"
        ],
        "summary": "Создает новое коммерческое предложение заказчика",
        "operationId": "commercialOffer-CreateCommercialOfferRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.CommercialOfferRequests.Commands.V2.CreateCommercialOfferRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commercialOffer/commands/RevokeCommercialOfferRequest": {
      "post": {
        "tags": [
          "commercialOffer"
        ],
        "summary": "Команда на отзыв запроса коммерческих предложений",
        "operationId": "commercialOffer-RevokeCommercialOfferRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.CommercialOfferRequests.Commands.V2.RevokeCommercialOfferRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/commercialOffer/commands/SendCommercialOffer": {
      "post": {
        "tags": [
          "commercialOffer"
        ],
        "summary": "Команда отправки коммерческого предложения поставщика",
        "operationId": "commercialOffer-SendCommercialOffer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.CommercialOfferRequests.Commands.V2.SendCommercialOfferCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/contract/commands/Executed": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Перевести в статус Исполнен",
        "operationId": "contract-Executed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V2.ExecutedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/contract/commands/TerminationAgreementProject": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Проект соглашения о расторжении от заказчика на подписание поставщику",
        "operationId": "contract-TerminationAgreementProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V2.TerminationAgreementProjectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/contract/public/GetContractDeliveryToCompany": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Отдает данные грузополучателей по контракту",
        "operationId": "contract-GetContractDeliveryToCompany",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Contracts.Queries.V2.Public.GetContractDeliveryToCompanyQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Dto.ContractDeliveryToCompanyQueryDto"
            }
          }
        }
      }
    },
    "/api/v2/contract/public/Get": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Отдает данные контракта по Id",
        "operationId": "contract-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Contracts.Queries.V2.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Dto.ContractQueryDto"
            }
          }
        }
      }
    },
    "/api/v2/contract/public/MedicationsSearch": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Контракты по лекарственным препаратам",
        "operationId": "contract-MedicationsSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Contracts.Queries.V2.Public.MedicationsSearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Contracts.Dto.MedicationsContractListQueryDto]"
            }
          }
        }
      }
    },
    "/api/v2/contract/public/Search": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Отдает список контрактов по фильтру",
        "operationId": "contract-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Contracts.Queries.V2.Public.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Contracts.Dto.ContractListQueryDto]"
            }
          }
        }
      }
    },
    "/api/v2/contractExecution/public/Import": {
      "post": {
        "tags": [
          "contractExecution"
        ],
        "summary": "Импорт исполнения контракта из внешних систем",
        "operationId": "contractExecution-Import",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Commands.V2.Public.ImportCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/contractExecution/commands/Delete": {
      "post": {
        "tags": [
          "contractExecution"
        ],
        "summary": "Исполнение: Удаление исполнения",
        "operationId": "contractExecution-Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Commands.V2.Command.DeleteCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/contractExecution/public/Get": {
      "get": {
        "tags": [
          "contractExecution"
        ],
        "summary": "Отдает данные исполнения контракта по Id",
        "operationId": "contractExecution-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractExecution.Queries.V2.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Dto.ContractExecutionQueryDto"
            }
          }
        }
      }
    },
    "/api/v2/contractExecution/public/Search": {
      "get": {
        "tags": [
          "contractExecution"
        ],
        "summary": "Отдает список исполнений по фильтру",
        "operationId": "contractExecution-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractExecution.Queries.V2.Public.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.ContractExecution.Dto.ContractExecutionQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v2/EAIST2AN/contract/Report": {
      "get": {
        "tags": [
          "EAIST2AN"
        ],
        "summary": "Отдает записи отчета по контрактам",
        "operationId": "EAIST2AN-Report",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Contracts.Queries.V2.EAIST2AN.ReportQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Contracts.Queries.V2.EAIST2AN.ReportListDto]"
            }
          }
        }
      }
    },
    "/api/v2/eetp/need/CreateShared": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Потребность: Создание совместной закупки",
        "operationId": "eetp-CreateShared",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Needs.Commands.V2.CreateSharedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/commands/ContractNotification": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Уведомление о работе с контрактом на ЕЭТП",
        "operationId": "eetp-ContractNotification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Eetp.ContractNotificationCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/commands/OfferNotification": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Уведомление об изменении оферт на ЕЭТП",
        "operationId": "eetp-OfferNotification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Eetp.OfferNotificationCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/commands/SendEetpResult": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Получить результаты обработки СТЕ на ЕЭТП",
        "operationId": "eetp-SendEetpResult",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Eetp.SendEetpResultCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/commands/SendProcedureWinner": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Получить данные о победителях на ЕЭТП",
        "operationId": "eetp-SendProcedureWinner",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Eetp.SendProcedureWinnerCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/externalCommands/SendSupplierCatalog": {
      "post": {
        "tags": [
          "eetp"
        ],
        "summary": "Отправка данных пользователя со списком CTE",
        "operationId": "eetp-SendSupplierCatalog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Eetp.External.SendSupplierCatalogCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/eetp/sku/GetDetails": {
      "get": {
        "tags": [
          "eetp"
        ],
        "summary": "СТЕ: Получить подробную информацию",
        "operationId": "eetp-GetDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Skus.Queries.V2.Eetp.GetDetailsQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Skus.Queries.V2.Eetp.SkuDataDto]"
            }
          }
        }
      }
    },
    "/api/v2/eetp/sku/Search": {
      "get": {
        "tags": [
          "eetp"
        ],
        "summary": "СТЕ: Поиск по фильтру",
        "operationId": "eetp-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Skus.Queries.V2.Eetp.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Dto.V1.Sku.SkuListDto]"
            }
          }
        }
      }
    },
    "/api/v2/eetp/queries/GetSupplierCatalog": {
      "get": {
        "tags": [
          "eetp"
        ],
        "summary": "Список CTE по id заявок для ЕЭТП",
        "operationId": "eetp-GetSupplierCatalog",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Queries.V2.Eetp.GetSupplierCatalogQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Dto.V1.Sku.EetpSupplierCatalogDto]"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/AuctionSupplierStockSync": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Проверить остатки товарных позиций у поставщика по КС",
        "operationId": "externalCommands-AuctionSupplierStockSync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.PurchaseSupplierStocks.External.AuctionSupplierStockSyncCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/ContractDisagreementProtocolAction": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Протокол разногласий от поставщика",
        "operationId": "externalCommands-ContractDisagreementProtocolAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.External.ContractDisagreementProtocolActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/ContractRejectConclusionAction": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Полный отказ от заключения контракта поставщиком",
        "operationId": "externalCommands-ContractRejectConclusionAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.External.ContractRejectConclusionActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/ContractSignedBySupplierAction": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Контракт (доп. соглашение) подписан поставщиком",
        "operationId": "externalCommands-ContractSignedBySupplierAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Contract.External.ContractSignedBySupplierActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/CreateAuction": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Создать КС во внешней системе",
        "operationId": "externalCommands-CreateAuction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Auction.External.CreateAuctionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/NeedSupplierStockSync": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Проверить остатки товарных позиций у поставщика по потребности",
        "operationId": "externalCommands-NeedSupplierStockSync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.PurchaseSupplierStocks.External.NeedSupplierStockSyncCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/externalCommands/OperationComplete": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "operationId": "externalCommands-OperationComplete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.External.OperationCompleteCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/externalCommands/OrderStatusChanged": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Изменение статуса рассмотрения заявки",
        "operationId": "externalCommands-OrderStatusChanged",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.EetpFinService.Commands.External.OrderStatusChangedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/SendAuctionSupplierWin": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Команда для передачи поставщику сведений о победе в закупочном процессе",
        "operationId": "externalCommands-SendAuctionSupplierWin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Auction.External.SendAuctionSupplierWinCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/externalCommands/SendNeedSupplierWin": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Команда для передачи поставщику сведений о победе в закупочном процессе",
        "operationId": "externalCommands-SendNeedSupplierWin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Needs.External.SendNeedSupplierWinCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/factoring/commands/ApplyRequest": {
      "post": {
        "tags": [
          "factoring"
        ],
        "summary": "Получение одобрения заявки на факторинг",
        "operationId": "factoring-ApplyRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Factoring.ApplyRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/factoring/commands/RejectRequest": {
      "post": {
        "tags": [
          "factoring"
        ],
        "summary": "Получение отказа по заявке на факторинг",
        "operationId": "factoring-RejectRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Factoring.RejectRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/factoring/externalCommands/Request": {
      "post": {
        "tags": [
          "factoring"
        ],
        "summary": "Заявка на факторинг",
        "operationId": "factoring-Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Factoring.External.RequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/insurance/commands/ApplyOrder": {
      "post": {
        "tags": [
          "insurance"
        ],
        "summary": "Получение одобрения заявки на страхование",
        "operationId": "insurance-ApplyOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Insurance.ApplyOrderCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/insurance/commands/RejectOrder": {
      "post": {
        "tags": [
          "insurance"
        ],
        "summary": "Получение отказа по заявке на cтрахование",
        "operationId": "insurance-RejectOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Insurance.RejectOrderCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/insurance/externalCommands/Request": {
      "post": {
        "tags": [
          "insurance"
        ],
        "summary": "Заявка на cтрахование",
        "operationId": "insurance-Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.V2.Insurance.External.RequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/need/public/ApproveNeedSupplierStockRequest": {
      "post": {
        "tags": [
          "need"
        ],
        "summary": "Подтверждение бронирования товарных позиций по потребности",
        "operationId": "need-ApproveNeedSupplierStockRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Needs.Commands.V2.Public.ApproveNeedSupplierStockRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/need/public/RejectNeedSupplierStockRequest": {
      "post": {
        "tags": [
          "need"
        ],
        "summary": "Отклонение запроса на бронирование товарных позиций по потребности",
        "operationId": "need-RejectNeedSupplierStockRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Needs.Commands.V2.Public.RejectNeedSupplierStockRequestCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/need/public/Get": {
      "get": {
        "tags": [
          "need"
        ],
        "summary": "Получить данные потребности",
        "operationId": "need-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Needs.Queries.V2.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Needs.Dto.V2.Public.GetQueryDataDto"
            }
          }
        }
      }
    },
    "/api/v2/need/public/Search": {
      "get": {
        "tags": [
          "need"
        ],
        "summary": "Отдает список потребностей по фильтру",
        "operationId": "need-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Needs.Queries.V2.Public.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.Needs.Dto.V2.Public.SearchQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v2/offer/public/Upload": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Импорт прайс-листов из файла YML\\XLSX",
        "operationId": "offer-Upload",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Offers.Commands.V2.Public.UploadCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v2/offer/public/UploadState": {
      "get": {
        "tags": [
          "offer"
        ],
        "summary": "Получение статуса импорта прайс-листа из файла YML\\XLSX",
        "operationId": "offer-UploadState",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Offers.Queries.V2.Public.UploadStateQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Offers.Dto.V2.Public.UploadStateDto"
            }
          }
        }
      }
    },
    "/api/v2/offer/public/UploadStateSearch": {
      "get": {
        "tags": [
          "offer"
        ],
        "summary": "Получение списка импортов прайс-листов из файла YML\\XLSX",
        "operationId": "offer-UploadStateSearch",
        "produces": [
          "application/json"
        ],
[...]
