{
  "swagger": "2.0",
  "info": {
    "title": "Интеграция портала поставщиков v3",
    "description": "Интеграция портала поставщиков v3",
    "version": "v3"
  },
  "host": "api.zakupki.mos.ru",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/commands/AddExternalIntegrationQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-AddExternalIntegrationQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.AddExternalIntegrationQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CheckSendPackageToEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: проверка статуса отправки пакета файлов в ЕИС",
        "operationId": "commands-CheckSendPackageToEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.CheckSendPackageToEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CheckSendToDiadoc": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: проверка статуса отправки пакета файлов в Диадок",
        "operationId": "commands-CheckSendToDiadoc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.CheckSendToDiadocCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ContractExecutionEisSignResult": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Обработка результа подписания в ЕИС",
        "operationId": "commands-ContractExecutionEisSignResult",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ContractExecutionEisSignResultCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/CreateLogisticsOrder": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Логистика: создание заказа на перевозку груза",
        "operationId": "commands-CreateLogisticsOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Logistics.Commands.CreateLogisticsOrderCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/DownloadDiadocPrintForm": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: загрузка печатной формы",
        "operationId": "commands-DownloadDiadocPrintForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.DownloadDiadocPrintFormCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/DownloadPacketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: скачать документы из ЛКП (ЕИС)",
        "operationId": "commands-DownloadPacketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.DownloadPacketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/FindAndQueueUnprocessedActualPacketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Поиск необработанных актуальных пакетов (УПД/УКД) из очереди ЛКП ЕИС",
        "operationId": "commands-FindAndQueueUnprocessedActualPacketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.FindAndQueueUnprocessedActualPacketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/FindAndQueueUnprocessedTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Поиск необработанных тикетов от заказчика из очереди ЛКП ЕИС",
        "operationId": "commands-FindAndQueueUnprocessedTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.FindAndQueueUnprocessedTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateDiadocFnsFile": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документ ФНС в диадок",
        "operationId": "commands-GenerateDiadocFnsFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.GenerateDiadocFnsFileCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateKalugaFnsFile": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сформировать документ ФНС в Калуге",
        "operationId": "commands-GenerateKalugaFnsFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Kaluga.GenerateKalugaFnsFileCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdCorrFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы исправительного УКД для ЕИС",
        "operationId": "commands-GenerateUkdCorrFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdCorrFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdCorrSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного исправительного УКД для ЕИС",
        "operationId": "commands-GenerateUkdCorrSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdCorrSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УКД для ЕИС",
        "operationId": "commands-GenerateUkdFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUkdSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного УКД для ЕИС",
        "operationId": "commands-GenerateUkdSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUkdSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdCorrFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы исправительного УПД для ЕИС",
        "operationId": "commands-GenerateUpdCorrFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdCorrFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdCorrSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного исправительного УПД для ЕИС",
        "operationId": "commands-GenerateUpdCorrSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdCorrSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdFilesForConstructionEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УПД по стройке для ЕИС",
        "operationId": "commands-GenerateUpdFilesForConstructionEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdFilesForConstructionEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы УПД для ЕИС",
        "operationId": "commands-GenerateUpdFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdSameFilesForConstructionEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного Акта по стройке и отправить их в ЕИС (background)",
        "operationId": "commands-GenerateUpdSameFilesForConstructionEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.GenerateUpdSameFilesForConstructionEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/GenerateUpdSameFilesForEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: сгенерировать файлы досыльного УПД для ЕИС",
        "operationId": "commands-GenerateUpdSameFilesForEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.GenerateUpdSameFilesForEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/OperationComplete": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-OperationComplete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.OperationCompleteCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/PeekTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: Запрос тикета от заказчика из очереди ЛКП ЕИС",
        "operationId": "commands-PeekTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.PeekTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessActBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по актам стройки",
        "operationId": "commands-ProcessActBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessActBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessActSupplierTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета продавца по Акту стройки (ЕИС)",
        "operationId": "commands-ProcessActSupplierTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessActSupplierTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessAsurCompanyRequests": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Обработка новых заявок на регистрацию\\изменение (формирование запросов в АС УР)",
        "operationId": "commands-ProcessAsurCompanyRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.Asur.ProcessAsurCompanyRequestsCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessAsurResponseQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Опрос очереди АС УР на предмет ответов на запросы",
        "operationId": "commands-ProcessAsurResponseQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Commands.Asur.ProcessAsurResponseQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessEisSignResult": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка результатов подписания поставщиком в ЕИС",
        "operationId": "commands-ProcessEisSignResult",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessEisSignResultCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessIntegrationQueue": {
      "post": {
        "tags": [
          "commands"
        ],
        "operationId": "commands-ProcessIntegrationQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.ProcessIntegrationQueueCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessLogisticsOrderChanges": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Логистика: обработка изменений заказа, пришедших из внешней системы",
        "operationId": "commands-ProcessLogisticsOrderChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Logistics.Commands.ProcessLogisticsOrderChangesCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUkdBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по УКД (ЕИС)",
        "operationId": "commands-ProcessUkdBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessUkdBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdBuyerTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета покупателя по УПД (ЕИС)",
        "operationId": "commands-ProcessUpdBuyerTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessUpdBuyerTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdSupplierTicketFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка тикета продавца по УПД (ЕИС)",
        "operationId": "commands-ProcessUpdSupplierTicketFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.ProcessUpdSupplierTicketFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/ProcessUpdUkdBuyerUvUtochFromEisLkp": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: обработка уведомления об уточнении покупателя УПД/УКД (ЕИС)",
        "operationId": "commands-ProcessUpdUkdBuyerUvUtochFromEisLkp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.ProcessUpdUkdBuyerUvUtochFromEisLkpCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendChatMessageToEaist": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SendChatMessageToEaist",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Chat.Commands.SendChatMessageToEaistCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendExecutionFilesToKaluga": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документы по исполнению в Калугу",
        "operationId": "commands-SendExecutionFilesToKaluga",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Kaluga.SendExecutionFilesToKalugaCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendFnsFileToDiadoc": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить документ ФНС в диадок",
        "operationId": "commands-SendFnsFileToDiadoc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Integration.Diadoc.SendFnsFileToDiadocCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SendPackageToEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Исполнение контракта: отправить пакет файлов в ЕИС",
        "operationId": "commands-SendPackageToEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.SendPackageToEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SetUpdBuyerTicketFromEisToExecComand": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SetUpdBuyerTicketFromEisToExecComand",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Temporary.SetUpdBuyerTicketFromEisToExecComand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SetUpdUkdBuyerUvUtochFromEisToExecComand": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "The handle.",
        "operationId": "commands-SetUpdUkdBuyerUvUtochFromEisToExecComand",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.Temporary.SetUpdUkdBuyerUvUtochFromEisToExecComand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SyncKnowledgeBaseArticlesInbound": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Команда синхронизации статей из базы знаний АИС УЗ в нашу систему.",
        "operationId": "commands-SyncKnowledgeBaseArticlesInbound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.KnowledgeBase.Commands.SyncKnowledgeBaseArticlesInboundCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/commands/SyncWithEis": {
      "post": {
        "tags": [
          "commands"
        ],
        "summary": "Синхронизировать исполнения по контракту с ЕИС",
        "operationId": "commands-SyncWithEis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.SyncWithEisCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/Concluded": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Проект контракта (доп.соглашения) подписан заказчиком (Заключен)",
        "operationId": "contract-Concluded",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.ConcludedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/ConclusionExtendAcceptedByCustomer": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Продлить срок рассмотрения по контракту",
        "operationId": "contract-ConclusionExtendAcceptedByCustomer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.ConclusionExtendAcceptedByCustomerCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/ExtendConclusionRequestByCustomer": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Запросить продление срока рассмотрения по контракту",
        "operationId": "contract-ExtendConclusionRequestByCustomer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.ExtendConclusionRequestByCustomerCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/Import": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Обновить сведения о контракте или загрузить новый в статусе исполнен, заключен или расторгнут",
        "operationId": "contract-Import",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.ImportCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/Project": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Проект контракта от заказчика на подписание поставщику",
        "operationId": "contract-Project",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.ProjectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/RateSupplier": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Оценить поставщика",
        "operationId": "contract-RateSupplier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.RateSupplierCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/RejectConclusion": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Полный отказ от заключения контракта (соглашения) заказчиком",
        "operationId": "contract-RejectConclusion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.RejectConclusionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/SupplementaryAgreementProject": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Проект доп. соглашения от заказчика на подписание поставщику",
        "operationId": "contract-SupplementaryAgreementProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.SupplementaryAgreementProjectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/TerminationAgreementProject": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Проект соглашения о расторжении от заказчика на подписание поставщику",
        "operationId": "contract-TerminationAgreementProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.TerminationAgreementProjectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/commands/Withdraw": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Отзыв заказчиком проекта контракта (отказ от текущей версии контракта или доп.соглашения)",
        "operationId": "contract-Withdraw",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.WithdrawCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/externalCommands/ConclusionExtendAcceptedBySupplier": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Продлить срок рассмотрения по контракту",
        "operationId": "contract-ConclusionExtendAcceptedBySupplier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.Outbound.ConclusionExtendAcceptedBySupplierCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/externalCommands/DisagreementProtocol": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Протокол разногласий от поставщика",
        "operationId": "contract-DisagreementProtocol",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.Outbound.DisagreementProtocolCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/externalCommands/ExtendConclusionRequestBySupplier": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт: Запросить продление срока рассмотрения по контракту",
        "operationId": "contract-ExtendConclusionRequestBySupplier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.Outbound.ExtendConclusionRequestBySupplierCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/externalCommands/RejectConclusion": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт (доп. соглашение) полный отказ от поставщика",
        "operationId": "contract-RejectConclusion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.Outbound.RejectConclusionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contract/externalCommands/SignedBySupplier": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Контракт (доп. соглашение) подписан поставщиком",
        "operationId": "contract-SignedBySupplier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Contracts.Commands.V3.Outbound.SignedBySupplierCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractActions/queries/GetDisagreementProtocol": {
      "get": {
        "tags": [
          "contractActions"
        ],
        "summary": "Действия над контрактом: Получить сведения о протоколе разногласий",
        "operationId": "contractActions-GetDisagreementProtocol",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractActions.Queries.V3.GetDisagreementProtocolQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractActions.Dto.V3.ContractActionDataDto"
            }
          }
        }
      }
    },
    "/api/v3/contractActions/queries/GetSupplementaryAgreement": {
      "get": {
        "tags": [
          "contractActions"
        ],
        "summary": "Действия над контрактом: Получить сведения доп. соглашения",
        "operationId": "contractActions-GetSupplementaryAgreement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractActions.Queries.V3.GetSupplementaryAgreementQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractActions.Dto.V3.SupplementaryAgreementActionDataDto"
            }
          }
        }
      }
    },
    "/api/v3/contractActions/queries/SearchDisagreementProtocols": {
      "get": {
        "tags": [
          "contractActions"
        ],
        "summary": "Действия над контрактом: Поиск протоколов разногласий по фильтру",
        "operationId": "contractActions-SearchDisagreementProtocols",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractActions.Queries.V3.SearchDisagreementProtocolsQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.ContractActions.Dto.V3.ContractActionListDto]"
            }
          }
        }
      }
    },
    "/api/v3/contractActions/queries/SearchSupplementaryAgreements": {
      "get": {
        "tags": [
          "contractActions"
        ],
        "summary": "Действия над контрактом: Поиск доп.соглашений по фильтру",
        "operationId": "contractActions-SearchSupplementaryAgreements",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractActions.Queries.V3.SearchSupplementaryAgreementsQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.ContractActions.Dto.V3.ContractActionListDto]"
            }
          }
        }
      }
    },
    "/api/v3/contractClaims/commands/Action": {
      "post": {
        "tags": [
          "contractClaims"
        ],
        "summary": "Претензионная работа над контрактом: Действие заказчика",
        "operationId": "contractClaims-Action",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractClaims.Commands.V3.ActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractClaims/commands/AddDocuments": {
      "post": {
        "tags": [
          "contractClaims"
        ],
        "summary": "Претензионная работа над контрактом: Добавить документы к существующей претензии",
        "operationId": "contractClaims-AddDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractClaims.Commands.V3.AddDocumentsCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractClaims/externalCommands/Action": {
      "post": {
        "tags": [
          "contractClaims"
        ],
        "summary": "Претензионная работа над контрактом: Действие поставщика",
        "operationId": "contractClaims-Action",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractClaims.Commands.V3.Outbound.ActionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractClaims/queries/Get": {
      "get": {
        "tags": [
          "contractClaims"
        ],
        "summary": "Претензионная работа над контрактом: Подробная информация",
        "operationId": "contractClaims-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractClaims.Queries.V3.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractClaims.Dto.V3.ContractClaimGetDataDto"
            }
          }
        }
      }
    },
    "/api/v3/contractClaims/queries/Search": {
      "get": {
        "tags": [
          "contractClaims"
        ],
        "summary": "Претензионная работа над контрактом: Поиск по фильтру",
        "operationId": "contractClaims-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractClaims.Queries.V3.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.ContractClaims.Dto.V3.ContractClaimQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v3/contractExecution/public/Get": {
      "get": {
        "tags": [
          "contractExecution"
        ],
        "summary": "Отдает данные исполнения контракта по Id",
        "operationId": "contractExecution-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.ContractExecution.Queries.V3.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Dto.NewContractExecutionQueryDto"
            }
          }
        }
      }
    },
    "/api/v3/ContractExecution/CreateDraft": {
      "post": {
        "tags": [
          "ContractExecution"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Commands.V3.Public.CreateDraftContractExecutionCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v3/ContractExecution/GenerateXmlDocumentsCommand": {
      "post": {
        "tags": [
          "ContractExecution"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Commands.V3.Public.GenerateXmlDocumentsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v3/ContractExecution/CreateContractExecutionExternal": {
      "post": {
        "tags": [
          "ContractExecution"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecution.Commands.V3.Public.CreateContractExecutionExternalCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v3/contractPaperExecutions/commands/Confirm": {
      "post": {
        "tags": [
          "contractPaperExecutions"
        ],
        "summary": "Исполнение контракта: Подтвердить исполнение",
        "operationId": "contractPaperExecutions-Confirm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.V3.EAIST.ConfirmCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractPaperExecutions/commands/Reject": {
      "post": {
        "tags": [
          "contractPaperExecutions"
        ],
        "summary": "Исполнение контракта: Отказ от подтверждения исполнения",
        "operationId": "contractPaperExecutions-Reject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.V3.EAIST.RejectCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/contractPaperExecutions/externalCommands/Submit": {
      "post": {
        "tags": [
          "contractPaperExecutions"
        ],
        "summary": "Исполнение контракта: Отправить заказчику (ЕАИСТ)",
        "operationId": "contractPaperExecutions-Submit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.ContractExecutions.Commands.V3.EAIST.Outbound.SubmitCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/externalCommands/OperationComplete": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "operationId": "externalCommands-OperationComplete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.IntegrationQueue.Shared.Commands.External.OperationCompleteCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/externalCommands/OrderStatusChanged": {
      "post": {
        "tags": [
          "externalCommands"
        ],
        "summary": "Изменение статуса рассмотрения заявки",
        "operationId": "externalCommands-OrderStatusChanged",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.EetpFinService.Commands.External.OrderStatusChangedCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/knowledgeBase/public/SearchArticle": {
      "get": {
        "tags": [
          "knowledgeBase"
        ],
        "summary": "База знаний: Поиск статей по фильтру",
        "operationId": "knowledgeBase-SearchArticle",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.KnowledgeBase.Queries.V3.Public.SearchArticleQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.KnowledgeBase.Dto.V3.SearchArticleListDto]"
            }
          }
        }
      }
    },
    "/api/v3/mailboxMessages/public/Search": {
      "get": {
        "tags": [
          "mailboxMessages"
        ],
        "summary": "Уведомления ЛК: Поиск по фильтру",
        "operationId": "mailboxMessages-Search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.MailboxMessages.Queries.V3.Public.SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Dal.Core.IQueryResultDto`1[Pp3.Integration.Shared.MailboxMessages.Dto.V3.SearchQueryListDto]"
            }
          }
        }
      }
    },
    "/api/v3/messages/public/SendUserDialog": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Отправка диалога пользователя с бизнес-ассистентом",
        "operationId": "messages-SendUserDialog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The command.",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.MailboxMessages.Queries.V3.Public.SendUserDialogCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/System.Void"
            }
          }
        }
      }
    },
    "/api/v3/powerOfAttorney/DownloadSignaturePoa": {
      "get": {
        "tags": [
          "powerOfAttorney"
        ],
        "summary": "Загрузка файла доверенности для подписи",
        "operationId": "powerOfAttorney-DownloadSignaturePoa",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.MachineReadablePowerOfAttorneys.Queries.V3.DownloadSignaturePoaQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v3/statistics/public/Get": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Запрос пользовательской статистики по фильтру",
        "operationId": "statistics-Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Statistics.Queries.V3.Public.GetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Statistics.Dto.V3.CompanyStatisticsValuesDto"
            }
          }
        }
      }
    },
    "/api/v3/statistics/public/GetTypes": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Запрос типов пользовательской статистики по фильтру",
        "operationId": "statistics-GetTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "format": "Pp3.Integration.Shared.Statistics.Queries.V3.Public.GetTypesQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pp3.Integration.Shared.Statistics.Dto.V3.CompanyStatisticsTypesDto"
            }
          }
        }
      }
    },
    "/api/Token/CheckToken": {
      "get": {
        "tags": [
          "Token"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Token/CreateToken": {
      "post": {
        "tags": [
          "Token"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Pp3.Common.Security.LoginModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "definitions": {
    "Pp3.Common.Domain.CodeNamedEntityDto": {
      "description": "The code named entity dto.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Код",
          "type": "string"
        },
        "name": {
          "description": "Полное наименование",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Pp3.Common.Domain.EntityDto`1[System.String]": {
      "description": "Базовый класс Dto",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Pp3.Common.Domain.EnumerationNamedEntityDto`1[Pp3.Common.Security.ExternalSystemEnum]": {
      "description": "Базовая dto для перечислений",
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/Pp3.Common.Security.ExternalSystemEnum"
        },
        "code": {
          "description": "Строковое представление Enum",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Наименование",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Pp3.Common.Domain.EnumerationNamedEntityDto`1[Pp3.Contracts.Dto.Enums.PurchaseByTypeEnum]": {
      "description": "Базовая dto для перечислений",
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/Pp3.Contracts.Dto.Enums.PurchaseByTypeEnum"
        },
        "code": {
          "description": "Строковое представление Enum",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Наименование",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Pp3.Common.Domain.NamedEntityDto": {
      "description": "The named entity dto.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Полное наименование",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Pp3.Common.Domain.NamedEntityDto`1[System.Guid]": {
      "description": "DTO сущности с наименование",
      "type": "object",
      "properties": {
        "name": {
          "description": "Полное наименование",
          "type": "string"
        },
        "id": {
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "Pp3.Common.FileStorage.FileTypeEnum": {
      "description": "Тип файла\r\n\r\n* `exportManagerFile` - The export manager file.\r\n* `generatedContract` - The generated contract.\r\n* `contractExecutionUpd` - The contract execution upd.\r\n* `contractExecutionUpdTicket` - The contract execution upd ticket.\r\n* `contractExecutionUpdConfirmation` - The contract execution upd confirmation.\r\n* `contractExecutionUpdDecline` - The contract execution upd decline.\r\n* `adminAuctionReport` - The admin auction report.\r\n* `contractExecutionUpdExternalPrintForm` - The contract execution upd external print form.\r\n* `contractExecutionUpdDeclineTicket` - The contract execution upd ticket.\r\n* `innCertificate` - Учредительные документы: Свидетельство о постановке на налоговый учет (ИНН)\r\n* `ogrnCertificate` - Учредительные документы: Свидетельство о присвоении ОГРН\r\n* `shareholdersRegisterExtract` - Учредительные документы: Выписка из реестра акционеров на текущую дату\r\n* `rightLicense` - Учредительные документы: Лицензия на право занятия определенными видами деятельности, патентов и разрешений\r\n* `excecutiveApointmentOrder` - Учредительные документы: Решение или приказ о назначении на должность исполнительного органа\r\n* `chiefAccountantApointmentOrder` - Учредительные документы: Решение или приказ о назначении на должность главного бухгалтера\r\n* `associationMemorandum` - Учредительные документы: Устав или учредительный договор с отметкой регистрации в УФНС/ИФНС\r\n* `founderPassport` - Учредительные документы: Паспорт учредителя - ФЛ\r\n* `headPassport` - Учредительные документы: Паспорт руководителя ЮЛ\r\n* `chiefAccountantPassport` - Учредительные документы: Паспорт главного бухгалтера\r\n* `organizationOwnerPassport` - Учредительные документы: Паспорт фактического собственника бизнеса\r\n* `balanceSheetLastYear` - Официальная финансовая отчетность: Форма №1 (Бухгалтерский баланс) за последний год\r\n* `balanceSheetLastQuarter` - Официальная финансовая отчетность: Форма №1 (Бухгалтерский баланс) за последний квартал\r\n* `incomeStatementLastYear` - Официальная финансовая отчетность: Форма №2 (Отчет о финансовых результатах) за последний год\r\n* `incomeStatementLastQuarter` - Официальная финансовая отчетность: Форма №2 (Отчет о финансовых результатах) за последний квартал\r\n* `realEstateOwnershipCertificate` - Документы на занимаемую площадь: Свидетельство о государственной регистрации права собственности на объект недвижимости\r\n* `realEstateObject` - Документы на занимаемую площадь: Описание объекта недвижимости\r\n* `realEstateLeaseContract` - Документы на занимаемую площадь: Договор аренды площадей, используемых в бизнесе\r\n* `approvalByAuthorizedCompany` - Решения уполномоченного органа ЮЛ: Решение об одобрении сделки со стороны уполномоченного органа ЮЛ\r\n* `bankSelection` - Решения упол-номоченного органа ЮЛ: Документ, подтверждающий отбор Банка в качестве поставщика то-варов, работ, услуг\r\n* `bankGuaranteeRequest` - Сгенерированный документ заявки на получение банковской гарантии\r\n* `registrationCertificateMedicalProducts` - Регистрационное удостоверение (медицинские товары)\r\n* `packagingAndLabelingRequirementsMedicalProducts` - Требования к упаковке и маркировке (медицинские товары)\r\n* `specialRequirementsForPackagingAndTransportationOfGoodsReagents` - Специальные требования к упаковке и транспортировке товара (реагенты)\r\n* `certificatesOfConformityOfGoods` - Сертификаты соответствия (декларации о соответствии) товара\r\n* `documentsRelatedToTheProduct` - Документы, относящиеся к товару (паспорт, инструкция по эксплуатации и т.п.)\r\n* `warrantyObligationsOfTheSupplierAndTheManufacturerOfTheGoods` - Документы, подтверждающие гарантийные обязательства Поставщика и производителя товара\r\n* `originalSignedApplicationForTheSupplyOfGoods` - Оригинал подписанной заявки на поставку товара\r\n* `qualityOfTheGoodsInAccordanceWithTheLegislation` - Документы, подтверждающие качество товара, оформленные в соответствии с законодательством Российской Федерации\r\n* `certificatesOfConformityForGroupOfGoods` - Сертификаты соответствия и/или декларация о соответствии (в случае если в отношении данной группы товаров установлено требование об обязательном подтверждении)\r\n* `stateRegistrationCertificate` - Свидетельство о государственной регистрации\r\n* `fireSafetyCertificate` - Сертификат пожарной безопасности\r\n* `actOfAcceptanceAndDeliveryOfMaterialAssetsFromDismantling` - Форма акта приема-сдачи материальных ценностей от демонтажа (работы по приведению в нормативное состояние шумозащитных экранов на ОДХ)\r\n* `otherDocumentsInAccordanceWithTheTermsOfReference` - Прочие документы в соответствии с техническим заданием\r\n* `purchaseAttachmentContractProject` - Проект контракта\r\n* `purchaseAttachmentTechnicalTask` - Техническое задание\r\n* `companyProfileLogo` - Логотип публичного профиля компании\r\n* `companyProfileDocument` - Документы публичного профиля компании\r\n* `companyProfilePortfolio` - Портфолио публичного профиля компании\r\n* `companyProfileLegalAct` - Нормативные правовые акты публичного профиля компании\r\n* `offerAttachment` - Прикрепленные документы оферты\r\n* `offerTradeAcceptionDocument` - Документы для ЕЭТП: Решение о согласии на совершение или о последующем одобрении крупной сделки\r\n* `offerCountryConfirmDocument` - Документы для ЕЭТП: Документы, подтверждающие страну происхождения товара\r\n* `offerRequirementsConfirmDocument` - Документы для ЕЭТП: Документы (или их копии), подтверждающие соответствие участника закупки требованиям, установленным пунктом 1 части 1 статьи 31 настоящего Федерального закона\r\n* `bankGuaranteeFile` - Файл банковской гарантии\r\n* `bankGuaranteeContractFile` - Договор с банком на выдачу банковской гарантии\r\n* `supportAttachments` - ФОС: Вложения файлов от HPSM\r\n* `skuInaccuracyAttachments` - Вложения к обращению об ошибке на карточке СТЕ\r\n* `ymlUpload` - Yml, загружаемый поставщиками\r\n* `contractExecutionMiniUpdZip` - Архив с мини-УПД xml\r\n* `contractExecutionUpdNullify` - Аннулирование УПД заказчиком\r\n* `xlsxPriceUpload` - Xlsx, загружаемый поставщиками\r\n* `contractExecutionFnsUpdXml` - Xml файл УПД по формату ФНС\r\n* `contractExecutionEisUpdXml` - Xml файл УПД по формату ЕИС\r\n* `contractExecutionUpdDocx` - Docx файл УПД\r\n* `contractExecutionFnsUpdCorrXml` - Xml файл Исправительного УПД по формату ФНС\r\n* `contractExecutionEisUpdCorrXml` - Xml файл Исправительного УПД по формату ЕИС\r\n* `contractExecutionFnsUpdBuyerTicket` - Xml файл УПД (титул покупателя) по формату ФНС\r\n* `contractExecutionEisUpdBuyerTicket` - Xml файл УПД (титул покупателя) по формату ЕИС\r\n* `contractExecutionFnsUpdUkdBuyerUvUtoch` - Xml файл уведомления об уточнении УПД/УКД (титул продавца) по формату ФНС\r\n* `contractExecutionEisUpdUkdBuyerUvUtoch` - Xml файл уведомления об уточнении УПД/УКД (титул продавца) по формату ЕИС\r\n* `contractExecutionMoscowXml` - Xml файл УПД по формату Москвы\r\n* `contractExecutionEisUkdXml` - Xml файл УКД по формату ЕИС\r\n* `contractExecutionFnsUkdXml` - Xml файл УКД по формату ФНС\r\n* `contractExecutionFnsUkdCorrXml` - Xml файл Исправительного УКД по формату ФНС\r\n* `contractExecutionEisUkdCorrXml` - Xml файл Исправительного УКД по формату ЕИС\r\n* `contractExecutionMoscowUpdDocx` - Docx файл УПД по формату Москвы\r\n* `contractExecutionMoscowUpdPdf` - Pdf файл УПД по формату Москвы\r\n* `eisAcceptanceDocument` - Документ о приемке (ЕИС)\r\n* `eisPriceNegotiationProtocol` - Протокол согласования цен (ЕИС)\r\n* `eisPackingList` - Товарная накладная (ЕИС)\r\n* `eisRegistrationCertificateOfMedProd` - Регистрационное удостоверение лекарственного препарата (ЕИС)\r\n* `eisConfirmationOfGoodsConformity` - Документ, подтверждающий соответствие Товара (ЕИС)\r\n* `eisRussianInstructionsForMedicalUse` - Инструкция по медицинскому применению Товара на русском языке (ЕИС)\r\n* `eisSpecification` - Спецификация (ЕИС)\r\n* `eisTechnicalCharacteristics` - Технические характеристики (ЕИС)\r\n* `eisOtherDocumentsProvidedByOrder870n` - Иные документы, предусмотренные п. 5.3 контракта (ЕИС)\r\n* `eisPaymentAndSettlementDocument` - Платежно-расчетный документ (ЕИС)\r\n* `eisOtherDocumentsStipulatedByContract` - Прочие документы, предусмотренные контрактом (ЕИС)\r\n* `eisOriginOrManufacturerCountryInformation` - Информация о стране происхождения или о производителе товара (ЕИС)\r\n* `eisPaymentDocumentsOfContractPenaltiesFines` - Документы, подтверждающие оплату контракта и документы о начислении неустоек (штрафов, пеней) (ЕИС)\r\n* `eisDiscrepancyDocument` - Документ о расхождениях (ЕИС)\r\n* `eisDocumentOnResultsOfExamination` - Документ о результатах проведенной экспертизы (ЕИС)\r\n* `eisDisagreementProtocol` - Протокол разногласий (ЕИС)\r\n* `eisAcceptanceCommitteeDecision` - Решение приемочной комиссии (ЕИС)\r\n* `eisPretrialAgreement` - Досудебное согласие (ЕИС)\r\n* `eisTheCourtsDecision` - Решение суда (ЕИС)\r\n* `eisBasisForPaymentDocument` - Основание для платежного документа (ЕИС)\r\n* `contractExecutionUkdDocx` - Docx файл УКД\r\n* `contractExecutionEisUpdDocx` - Docx файл УПД по формату ЕИС\r\n* `contractExecutionRfidXml` - Файл с рфит метками\r\n* `eisContractXml` - Xml файл контракта из ЕИС\r\n* `eisContractEstimateXml` - Xml файл сметы контракта из ЕИС\r\n* `chatMessageFile` - Файл в сообщении чата\r\n* `needSupplierOfferDetails` - Потребность: Подробное описание предложения поставщика\r\n* `eisMoscowUpdWithEstimateDocx` - Исполнение контракта: Docx файл УПД по формату Москвы (строительство)\r\n* `eisMoscowUpdWithEstimatePdf` - Исполнение контракта: Pdf файл УПД по формату Москвы (строительство)\r\n* `actualPatent` - Документы ЕЭТП ФинСервис: Действующий патент на право применения патентной системы налогообложения\r\n* `declarationEnvdLastQuarter` - Документы ЕЭТП ФинСервис: Декларация по ЕНВД за последний квартал\r\n* `declarationEsnLastYear` - Документы ЕЭТП ФинСервис: Декларация по ЕСХН за последний год\r\n* `declarationUsnLastYear` - Документы ЕЭТП ФинСервис: Декларация по УСН за последний год\r\n* `declarationNdsLastQuarter` - Документы ЕЭТП ФинСервис: Декларация по НДС за последний квартал\r\n* `realEstatePhoto` - Документы ЕЭТП ФинСервис: Фотографии объекта недвижимости\r\n* `realEstateEgrnRegisterExtract` - Документы на занимаемую площадь: Выписка из ЕГРН об объекте недвижимости\r\n* `bankGuaranteeOrder` - Документы ЕЭТП ФинСервис: Документ заявки на получение банковской гарантии\r\n* `bankGuaranteeAccessionApplication` - Документы ЕЭТП ФинСервис: Заявление об использовании сервиса БГ\r\n* `contractExecutionEisUpdWithEstimateDocx` - Исполнение контракта: Docx файл печатной формы УПД (строительство)\r\n* `contractExecutionEisUpdWithEstimatePdf` - Исполнение контракта: Pdf файл печатной формы УПД (строительство)\r\n* `bankGuaranteeAdditionallyDocuments` - Документы ЕЭТП ФинСервис: Документы без категории\r\n* `bankGuaranteeAgreementInsurance` - Документы ЕЭТП ФинСервис: Договор страхования (к оферте)\r\n* `bankGuaranteeInvoicePayment` - Документы ЕЭТП ФинСервис: Счета на оплату (к оферте)\r\n* `structuredCommercialOfferForm` - Форма структурированного комммерческого предложения\r\n* `commercialOfferArchive` - Архив, содержащий подписанную форму коммерческого предложения (для структурированного коммерческого предложения) и вложения\r\n* `contractExecutionInvoiceDocx` - Исполнение контракта: Docx файл печатной формы счет-фактура\r\n* `contractExecutionInvoicePdf` - Исполнение контракта: Pdf файл печатной формы счет-фактура\r\n* `contractExecutionCorrUkdDocx` - Docx файл исправительного УКД\r\n* `contractExecutionCorrUpdDocx` - Docx исправительного файл УПД\r\n* `documentsConfirmingProduction` - Документы, подтверждающие производство\r\n* `contractExecutionCorrectionDocument` - Исполнение контракта: Docx файл корректировочный документ\r\n* `contractExecutionCorrectionInvoice` - Исполнение контракта: Docx файл корректировочный счёт-фактура\r\n* `contractExecutionCorrectiveActWithEstimate` - Исполнение контракта: Docx файл корректировочный Акт (строительство со сметой)\r\n* `bankGuaranteePowerOfAttorneyOfSignatory` - Документы ЕЭТП ФинСервис: Доверенность на подписанта\r\n* `bankGuaranteeCopyOfPassportOfSignatory` - Документы ЕЭТП ФинСервис: Копия паспорта подписанта\r\n* `bankGuaranteeRequestLimitByBank` - Документы ЕЭТП ФинСервис: Заявка на лимит\r\n* `bankGuaranteePrincipalFormByBank` - Документы ЕЭТП ФинСервис: Анкета клиента (по форме банка)\r\n* `bankGuaranteeAgreementProcessingPersonalDataByBank` - Документы ЕЭТП ФинСервис: Согласие на обработку персональных данных (по форме банка)\r\n* `bankGuaranteeDeclarationBeneficiaryOwner` - Документы ЕЭТП ФинСервис: Декларация бенефициарного владельца (по форме банка)\r\n* `bankGuaranteeAgentRelationAgreementByBank` - Документы ЕЭТП ФинСервис: Согласие на работу с агентом (по форме банка)\r\n* `bankGuaranteeFinReportByBank` - Документы ЕЭТП ФинСервис: Бухгалтерская отчетность (по форме банка)\r\n* `bankGuaranteeOrderGuaranteeByBank` - Документы ЕЭТП ФинСервис: Заявка на банковскую гарантию (по форме банка)\r\n* `bankGuaranteeReferenceAbsenceOfNeedToApproveTransaction` - Документы ЕЭТП ФинСервис: Справка об отсутствии необходимости одобрения сделки\r\n* `bankGuaranteeOrderParamsByBank` - Документы ЕЭТП ФинСервис: Параметры заявки\r\n* `bankGuaranteeOtherDocsByBank` - Документы ЕЭТП ФинСервис: Параметры заявки\r\n* `bankGuaranteeFinancialStatements022022` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 2 кв. 2022 года (с подписью и печатью организации)\r\n* `bankGuaranteeCardOfTheCompanyWithIndication` - Документы ЕЭТП ФинСервис: Карточка компании (с указанием банковских реквизитов)\r\n* `bankGuaranteeConstituentCoOwnersLegalEntities` - Документы ЕЭТП ФинСервис Учредительные документы для совладельцев - юридических лиц (при наличии)\r\n* `bankGuaranteeRegisterOfExecutedContracts` - Документы ЕЭТП ФинСервис: Реестр исполненных контрактов\r\n* `bankGuaranteeDecisionApproveMajorTransaction` - Документы ЕЭТП ФинСервис: Решение об одобрении крупной сделки\r\n* `bankGuaranteeSnilsFoundersBusinessOwners` - Документы ЕЭТП ФинСервис: СНИЛС владельцев бизнеса, Генерального директора, Главного бухгалтера (при наличии в штате)\r\n* `bankGuaranteeChangesConstituent` - Документы ЕЭТП ФинСервис: Изменения к учредительным документам (при наличии)\r\n* `bankGuaranteeDecisionToCreateCompany` - Документы ЕЭТП ФинСервис: Решение о создании организации (общества)\r\n* `bankGuaranteeTenderDocumentation` - Документы ЕЭТП ФинСервис: Документация по закупке\r\n* `machineReadablePowerOfAttorneyUploadedFile` - Загруженный файл машиночитаемой доверенности\r\n* `bankGuaranteeContract` - Документы ЕЭТП ФинСервис: Банковская гарантия/платёжное поручение\r\n* `bankGuaranteeInsurancePolicy` - Документы ЕЭТП ФинСервис: Страховой полис\r\n* `bankGuaranteeQuestionnaireIpL115` - Документы ЕЭТП ФинСервис: Анкета ИП по 115-ФЗ\r\n* `bankGuaranteeQuestionnaireFlL115` - Документы ЕЭТП ФинСервис: Анкета ФЛ по 115-ФЗ\r\n* `bankGuaranteeQuestionnaireUlL115` - Документы ЕЭТП ФинСервис: Анкета ЮЛ по 115-ФЗ\r\n* `bankGuaranteeFinancialStatements012023Ip` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 1 кв.\r\n* `bankGuaranteeFinancialStatements042022Ip` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 2022 год (с подписью и печатью организации)\r\n* `bankGuaranteeFinancialStatements042022` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 2022 год (с отметкой ИФНС/квитанция о приёме)\r\n* `bankGuaranteeFinancialStatements012023` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 1 кв. 2023 года (с подписью и печатью организации)\r\n* `bankGuaranteeGroupBasicPackageOfDocuments` - Документы ЕЭТП ФинСервис: Бухгалтерский баланс и отчет о финансовых результатах за 1 кв. 2023 года (с подписью и печатью организации)\r\n* `bankGuaranteeGuaranteeProject` - Документы ЕЭТП ФинСервис: Проект гарантии (в случае, если Гарантия должна быть выдана по форме Бенефициара)\r\n* `bankGuaranteeAccount62WithCustomer` - Документы ЕЭТП ФинСервис: Карточка счета 62 (Расчеты с заказчиком) за последние 12 мес.\r\n* `bankGuaranteeAgreementWithCustomer` - Документы ЕЭТП ФинСервис: Договор поставки/оказания услуг с заказчиком\r\n* `bankGuaranteeAgreementProcessingPersonalData` - Документы ЕЭТП ФинСервис: Согласие на обработку персональных данных\r\n* `bankGuaranteeFilePdf` - Документы ЕЭТП ФинСервис: Проект БГ (pdf)\r\n* `bankGuaranteeUnknown` - Документы ЕЭТП ФинСервис\r\n* `contractLicenseFile` - Файл лицензии или сертификата\r\n* `contractExecutionConstructionActXml` - Xml файл Акта о приемке по формату ЕИС\r\n* `machineReadablePowerOfAttorneyUploadedFileSign` - Загруженный файл подписи машиночитаемой доверенности\r\n* `contractExecutionFnsUkdBuyerTicket` - Xml файл УКД (титул покупателя) по формату ФНС\r\n* `contractExecutionEisUkdBuyerTicket` - Xml файл УКД (титул покупателя) по формату ЕИС\r\n* `contractExecutionConstructionActEisBuyerTicket` - Xml файл УПД (титул покупателя) по формату ЕИС для актов строительства\r\n* `eisContractExecutionEisMiniUpdZip` - Архив для исполнений по множественным грузополучателям с файлами вложенных исполнений(титулы заказчика и поставщика)\r\n* `chatMessageSignedFile` - Подписанное сообщение чата\r\n* `productionCalendarImportFile` - Фаил импорта производственного календаря\r\n* `contractExecutionConstructionActEisSupplierTicket` - Xml файл УПД (титул продавца) по формату ЕИС для актов строительства\r\n* `adminNeedReport` - Отчет Реестр закупок по потребностям\r\n* `gar` - Данные ФНС ГАР\r\n* `executionImportFile` - XML-фаил импорта исполнения\r\n* `skuMassChangetFile` - XLSX-файл массового изменения СТЕ\r\n* `skuChangeRequestImportFile` - XLSX-файл массового импорта заявок на СТЕ\r\n* `skuChangeRequestReport` - Отчет Реестр закупок по потребностям\r\n* `productDirectoryAndKpgzLinksReport` - XLSX-файл связи справочника продукции с КПГЗ\r\n* `contractReport` - Отчет Реестр контрактов\r\n* `contractExecutionSpecificationReport` - Отчет Отгруженные объёмы по электронному исполнению\r\n* `skuCatalogReport` - Отчет Каталог СТЕ\r\n* `fZ223ProcurementRegulations` - Положение о закупках по ФЗ-233\r\n* `procurementRegulations` - Положение о закупках\r\n* `contractProject` - Проект контракта\r\n* `nmcCalculation` - Обоснование расчёта НМЦ контракта\r\n* `technicalAssignment` - Техническое задание\r\n* `productionDirectoryImage` - Изображение категории\r\n* `skuImage` - Изображение СТЕ\r\n",
      "enum": [
        "exportManagerFile",
        "generatedContract",
        "contractExecutionUpd",
        "contractExecutionUpdTicket",
        "contractExecutionUpdConfirmation",
        "contractExecutionUpdDecline",
        "adminAuctionReport",
        "contractExecutionUpdExternalPrintForm",
        "contractExecutionUpdDeclineTicket",
        "innCertificate",
        "ogrnCertificate",
        "shareholdersRegisterExtract",
        "rightLicense",
        "excecutiveApointmentOrder",
        "chiefAccountantApointmentOrder",
        "associationMemorandum",
        "founderPassport",
        "headPassport",
        "chiefAccountantPassport",
        "organizationOwnerPassport",
        "balanceSheetLastYear",
        "balanceSheetLastQuarter",
        "incomeStatementLastYear",
        "incomeStatementLastQuarter",
        "realEstateOwnershipCertificate",
        "realEstateObject",
        "realEstateLeaseContract",
        "approvalByAuthorizedCompany",
        "bankSelection",
        "bankGuaranteeRequest",
        "registrationCertificateMedicalProducts",
        "packagingAndLabelingRequirementsMedicalProducts",
        "specialRequirementsForPackagingAndTransportationOfGoodsReagents",
        "certificatesOfConformityOfGoods",
        "documentsRelatedToTheProduct",
        "warrantyObligationsOfTheSupplierAndTheManufacturerOfTheGoods",
        "originalSignedApplicationForTheSupplyOfGoods",
        "qualityOfTheGoodsInAccordanceWithTheLegislation",
        "certificatesOfConformityForGroupOfGoods",
        "stateRegistrationCertificate",
        "fireSafetyCertificate",
        "actOfAcceptanceAndDeliveryOfMaterialAssetsFromDismantling",
        "otherDocumentsInAccordanceWithTheTermsOfReference",
        "purchaseAttachmentContractProject",
        "purchaseAttachmentTechnicalTask",
        "companyProfileLogo",
        "companyProfileDocument",
        "companyProfilePortfolio",
        "companyProfileLegalAct",
        "offerAttachment",
        "offerTradeAcceptionDocument",
        "offerCountryConfirmDocument",
        "offerRequirementsConfirmDocument",
        "bankGuaranteeFile",
        "bankGuaranteeContractFile",
        "supportAttachments",
        "skuInaccuracyAttachments",
        "ymlUpload",
        "contractExecutionMiniUpdZip",
        "contractExecutionUpdNullify",
        "xlsxPriceUpload",
        "contractExecutionFnsUpdXml",
        "contractExecutionEisUpdXml",
        "contractExecutionUpdDocx",
        "contractExecutionFnsUpdCorrXml",
        "contractExecutionEisUpdCorrXml",
        "contractExecutionFnsUpdBuyerTicket",
        "contractExecutionEisUpdBuyerTicket",
        "contractExecutionFnsUpdUkdBuyerUvUtoch",
        "contractExecutionEisUpdUkdBuyerUvUtoch",
        "contractExecutionMoscowXml",
        "contractExecutionEisUkdXml",
        "contractExecutionFnsUkdXml",
        "contractExecutionFnsUkdCorrXml",
        "contractExecutionEisUkdCorrXml",
        "contractExecutionMoscowUpdDocx",
        "contractExecutionMoscowUpdPdf",
        "eisAcceptanceDocument",
        "eisPriceNegotiationProtocol",
        "eisPackingList",
        "eisRegistrationCertificateOfMedProd",
        "eisConfirmationOfGoodsConformity",
        "eisRussianInstructionsForMedicalUse",
        "eisSpecification",
        "eisTechnicalCharacteristics",
        "eisOtherDocumentsProvidedByOrder870n",
        "eisPaymentAndSettlementDocument",
        "eisOtherDocumentsStipulatedByContract",
        "eisOriginOrManufacturerCountryInformation",
        "eisPaymentDocumentsOfContractPenaltiesFines",
        "eisDiscrepancyDocument",
        "eisDocumentOnResultsOfExamination",
        "eisDisagreementProtocol",
        "eisAcceptanceCommitteeDecision",
        "eisPretrialAgreement",
        "eisTheCourtsDecision",
        "eisBasisForPaymentDocument",
        "contractExecutionUkdDocx",
        "contractExecutionEisUpdDocx",
        "contractExecutionRfidXml",
        "eisContractXml",
        "eisContractEstimateXml",
        "chatMessageFile",
        "needSupplierOfferDetails",
        "eisMoscowUpdWithEstimateDocx",
        "eisMoscowUpdWithEstimatePdf",
        "actualPatent",
        "declarationEnvdLastQuarter",
        "declarationEsnLastYear",
        "declarationUsnLastYear",
        "declarationNdsLastQuarter",
        "realEstatePhoto",
        "realEstateEgrnRegisterExtract",
        "bankGuaranteeOrder",
        "bankGuaranteeAccessionApplication",
        "contractExecutionEisUpdWithEstimateDocx",
        "contractExecutionEisUpdWithEstimatePdf",
        "bankGuaranteeAdditionallyDocuments",
        "bankGuaranteeAgreementInsurance",
        "bankGuaranteeInvoicePayment",
        "structuredCommercialOfferForm",
        "commercialOfferArchive",
        "contractExecutionInvoiceDocx",
        "contractExecutionInvoicePdf",
        "contractExecutionCorrUkdDocx",
        "contractExecutionCorrUpdDocx",
        "documentsConfirmingProduction",
        "contractExecutionCorrectionDocument",
        "contractExecutionCorrectionInvoice",
        "contractExecutionCorrectiveActWithEstimate",
        "bankGuaranteePowerOfAttorneyOfSignatory",
        "bankGuaranteeCopyOfPassportOfSignatory",
        "bankGuaranteeRequestLimitByBank",
        "bankGuaranteePrincipalFormByBank",
        "bankGuaranteeAgreementProcessingPersonalDataByBank",
        "bankGuaranteeDeclarationBeneficiaryOwner",
        "bankGuaranteeAgentRelationAgreementByBank",
        "bankGuaranteeFinReportByBank",
        "bankGuaranteeOrderGuaranteeByBank",
        "bankGuaranteeReferenceAbsenceOfNeedToApproveTransaction",
        "bankGuaranteeOrderParamsByBank",
        "bankGuaranteeOtherDocsByBank",
        "bankGuaranteeFinancialStatements022022",
        "bankGuaranteeCardOfTheCompanyWithIndication",
        "bankGuaranteeConstituentCoOwnersLegalEntities",
        "bankGuaranteeRegisterOfExecutedContracts",
        "bankGuaranteeDecisionApproveMajorTransaction",
        "bankGuaranteeSnilsFoundersBusinessOwners",
        "bankGuaranteeChangesConstituent",
        "bankGuaranteeDecisionToCreateCompany",
        "bankGuaranteeTenderDocumentation",
        "machineReadablePowerOfAttorneyUploadedFile",
        "bankGuaranteeContract",
        "bankGuaranteeInsurancePolicy",
        "bankGuaranteeQuestionnaireIpL115",
        "bankGuaranteeQuestionnaireFlL115",
        "bankGuaranteeQuestionnaireUlL115",
        "bankGuaranteeFinancialStatements012023Ip",
        "bankGuaranteeFinancialStatements042022Ip",
        "bankGuaranteeFinancialStatements042022",
        "bankGuaranteeFinancialStatements012023",
[...]
