<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <!-- до ~4 ГБ -->
          <requestLimits maxAllowedContentLength="4294967295" />
        </requestFiltering>
      </security>

      <aspNetCore processPath="dotnet" arguments=".\Zakupki.Fetcher.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 84E2909B-248F-4143-9E0A-F48B450722E1-->
