<mat-toolbar color="primary" class="app-toolbar">
  <button mat-button routerLink="/" class="app-title">Zakupki Notices</button>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user; else loginLink">
    <span class="user-name">{{ user.displayName || user.email }}</span>
    <button mat-button (click)="openCompanyProfileDialog()">Данные компании</button>
    <button mat-button (click)="onLogout()">Выйти</button>
  </ng-container>
  <ng-template #loginLink>
    <button mat-button routerLink="/login">Войти</button>
  </ng-template>
</mat-toolbar>
<main class="app-content">
  <router-outlet></router-outlet>
</main>
