<mat-toolbar color="primary" class="app-toolbar">
  <button mat-button routerLink="/" class="app-title">Анализ тендеров ИИ</button>
  <a mat-button routerLink="/presentation" routerLinkActive="active-link">Презентация</a>
  <ng-container *ngIf="user$ | async as user; else loginLink">
    <nav class="nav-links">
      <a
        mat-button
        routerLink="/tenders"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Тендеры
      </a>
      <a mat-button routerLink="/favorites" routerLinkActive="active-link">
        Избранное<mat-icon fontIcon="favorite"></mat-icon>
      </a>
    </nav>
    <span class="spacer"></span>
    <span class="user-name">{{ user.displayName || user.email }}</span>
    <a mat-button routerLink="/company-profile" routerLinkActive="active-link">Профиль компании</a>
    <button mat-button (click)="onLogout()">Выйти</button>
  </ng-container>
  <ng-template #loginLink>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">Войти</button>
  </ng-template>
</mat-toolbar>
<main class="app-content">
  <router-outlet></router-outlet>
</main>
