@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.full-height {
  min-height: 100vh;
}

.raw-json-dialog-panel-fullscreen {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
}

.raw-json-dialog-panel-fullscreen .mat-dialog-container {
  height: 100vh;
  max-height: 100vh;
  border-radius: 0;
  padding: 24px;
  box-sizing: border-box;
}

